<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ImagePath" value="/images/" />
		<add key="HideFolderPattern" value="^bin|test" />
		<add key="HideFilePattern" value="scc$" />
		<add key="AllowedPathPattern" value="ArtWork/.*" />
		<add key="DefaultPath" value="../ArtWork/" />
	</appSettings>
    <system.web>
		<httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="51200" />
        <authorization>
            
        </authorization>
    </system.web>
</configuration>